<%= form_with(model: @user) do |form| %>
  <% if flash[:alert] %>
   <div><%= flash[:alert] %></div>
  <% end %>

  <% if @user.errors.any? %>
    <h2><%= pluralize(@user.errors.count, "error") %> user not saved:</h2>

    <ul>
      <% @user.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= form.label :username %>
    <%= form.text_field :username, required: true %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password, required: true %>
  </div>

  <div>
    <%= form.submit 'Register' %>
  </div>
<% end %>