<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Index Card App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="header">
      <nav>
        <ul>
          <li>
            <% user = User.find_by(id: session[:user_id]) %>
            <% if user %>
              <span class="nav-link">Welcome, <%= user.username %>!</span>
            <% end %>
          </li>
        </ul>
        <div class="login-logout">
          <% if session[:user_id] %>
            <%= button_to 'Logout', logout_path, method: :delete, class: 'logout-link nav-link', data: { confirm: 'Are you sure you want to log out?' } %>
          <% else %>
            <%= link_to 'Login', login_path, class: 'logout-link nav-link' %>
          <% end %>
        </div>
      </nav>
    </div>
    <div class='container main-container'>
      <%= yield %>
    </div>
  </body>
</html>
